.carta {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; 
    align-items: center;
    margin-top: 2%;
}

.titulo {
    background-color: #f0efef; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 1%;
}

h1 {
    font-size: 3em;
}

.select {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.filter {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    background-color: rgb(192, 58, 58);
    border: solid 2px black;
    border-radius: 10px;
    transition: background-color 0.3s;
    width: 10%;
}

.filter:hover {
    transform: scale(1.2);
    transition: 1s ease;
}

.category {
    margin-top: 3%;
}

.category_title {
    text-decoration: underline;
}

.food_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;  
    width: 80%;  
}

.food-item {
    background-color: #f0efef;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #ddd;
    box-shadow: 
    0 0 10px rgba(0, 0, 0, 0.1), 
    0 0 10px rgba(0, 0, 0, 0.1);
}

.food-item:hover {
    transform: scale(1.05);
    transition: 1s ease;
}


.area_nombre {
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(126, 40, 40);
    color: white;
    height: 10%;
    display: flex;
    justify-content: center;  
    align-items: center;      
    text-align: center;
    margin-bottom: 3%;
}

.imagenes2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30%;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 3%;
}

.volver {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
}

.btn_inicio {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color: rgb(192, 58, 58);
    border: solid 2px black;
    border-radius: 10px;
    transition: background-color 0.3s;
    width: 80%;
    height: 40px;
}

.btn_inicio:hover {
    transform: scale(1.2);
    transition: 1s ease;
}

.btn_select {
    padding: 0px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color: rgb(126, 40, 40);
    border: solid 1px white;
    color: white;
    border-radius: 10px;
    transition: background-color 0.3s;
    width: 30%;
    height: 35px;
    margin-top: 2%;
    text-align: center; 
}

.btn_select:hover {
    transform: scale(1.2);
    transition: 1s ease;
}


@media (max-width: 1024px) {

    .carta {
        margin-top: 15%;
    }

    .food_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        width: 90%;
    }

}


@media (max-width: 600px) {
        
    .carta {
        margin-top: 180px; 
        padding-top: 20px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .select {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .select a {
        width: 100%;
        margin: 0;
        padding: 10px 0;
        box-sizing: border-box;
        text-align: center;
        display: block;
    }

    .food_list {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        width: 100%;
    }

    .food_list img {
        width: 90%;
        max-width: 300px;
        height: 250px;
        margin: 10px auto;
    }

    .imagenes2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
    }

}