<header>
    <nav class="nav_menu">
        <a (click)="goTo('/')" [class.active]="activeRoute === '/'">Inicio</a>
        <a (click)="goTo('/us')" [class.active]="activeRoute === '/us'">Quiénes somos</a>
        <a (click)="goTo('/carta')" [class.active]="activeRoute.startsWith('/carta') || activeRoute.startsWith('/item')">Nuestra carta</a>
        <a (click)="goTo('/book')" [class.active]="activeRoute.startsWith('/book') || activeRoute.startsWith('/confirm')">Reservas</a>
    </nav>
    <div class="title">
        <h1 class="title_h1"><i>La casa napolitana</i></h1>
    </div>
    <nav class="nav_icon">
        <div class="icons">
             <input class="busqueda" type="text" placeholder="Realice su búsqueda">
             <div class="theme" (click)="toggleTheme()">
                <img src="..//public/img/sun.svg" *ngIf="darkMode" alt="Sol" class="theme-icon" width="30" />
                <img src="..//public/img/moon.svg" *ngIf="!darkMode" alt="Luna" class="theme-icon" width="30" />
            </div>
        </div>
    </nav>
</header>
