<div class="bienvenida">
    <div class="italia">
        <img src="/img/italia.jpg" alt="bandera" width="100">
    </div>
    <div>
        <h1><i>La casa napolitana</i></h1>
        <h2>La mejor cocina italiana</h2>
    </div>
    <div>
        <img src="/img/pizza.png" alt="bandera" width="100">
    </div>
</div>
<div class="menu">
    <div class="inicio">
        <div class="div-foto1">
            <h3><i>Cocina napolitana</i></h3>
            <p><i>Elaborada en horno de leña, ideal para los amantes de la pasta y la pizza</i></p>
            <img src="/img/napoles.jpg" alt="pasta" width="250">
        </div>
        <div class="menu">
            <div class="carta_reserva">
                <div class="texto">
                    <h3>Consulta nuestra carta y los platos más populares</h3><br>
                    <a class="enlace">
                        <i class="fas fa-utensils"></i>  
                        <button (click)="goToCarta()" class="btnSelected"><strong>Carta</strong></button>
                    </a>
                </div>
                <img src="/img/pasta.jpg" alt="pasta" width="400">
            </div>
            <div class="carta_reserva">
                <img src="/img/restaurante.jpg" alt="pasta" width="400">
                <div class="texto2">
                    <h3>Reserva y disfruta de una increíble experiencia</h3><br>
                    <a class="enlace">
                        <i class="fas fa-calendar-alt"></i>  
                        <button (click)="goToReserva()" class="btnSelected"><strong>Reserva</strong></button>
                    </a>
                </div>
            </div>
        </div>
        <div class="div-foto2">
            <h3><i>Con acento gaditano</i></h3>
            <p><i>Desde el corazón de Cádiz, con alma andaluza</i></p>
            <img src="/img/cadiz.jpg" alt="pasta" width="250">
        </div>
    </div>

    <div class="info">
        <div class="info_data">
            <h2 class="info_title1">Pasión</h2>
            <img src="/img/cocina.jpg" alt="cocina">
        </div>
        <div class="info_data">
            <h2 class="info_title2">Tradición</h2>
            <img src="/img/horno.jpg" alt="cocina">
        </div>
        <div class="info_data">
            <h2 class="info_title3">Amor</h2>
            <img src="/img/cocina2.jpg" alt="cocina">
        </div>
    </div>

    <div class="info2">
       <div class="datos">
            <div class="datos-div">
                <h3>Localidad:</h3>
                <i class="fas fa-map-marker-alt"></i>
            </div>
            <p>Cádiz</p>
       </div>
       <div class="datos">
            <div class="datos-div">
                <h3>Dirección:</h3>
                <i class="fas fa-road"></i>
            </div>
            <p>Calle Torre, nº 5</p>
        </div>
        <div class="datos">
            <div class="datos-div">
                <h3>Correo:</h3>
                <i class="fas fa-envelope"></i>
            </div>
            <p>casanapolitana&#64;rrhh.com</p>
        </div>
        <div class="datos">
            <div class="datos-div">
                <h3>Teléfono:</h3>
                <i class="fas fa-phone"></i>
            </div>
            <p>956223344</p>
        </div>
    </div>

</div>