<div class="nosotros">
    <div class="titulo">
        <h1>QUIÉNES SOMOS</h1>
    </div>

    <div class="info_nosotros">
        <p><strong>La casa napolitana </strong>nació este 2025, formado a través de la unión de dos familias, una gaditana y otra italiana, los Ordóñez y los Bascoli.</p>
        <p>Este proyecto fusiona la experiencia de los Ordóñez en cuanto a gestión de negocios respecto a la gastronomía y el buen gusto de los Bascoli manteniendo la tradición de la cocina napolitana más pura.</p>
        
        <div class="familia">
            <div class="info_familia">
                <div class="imagen">
                    <img src="/img/cadiz.jpg" alt="pasta" width="500">
                </div>
                <div class="datos">
                    <h3>Ordóñez</h3>
                    <p>Familia gaditana con más de 30 años de experiencia en la gestión de negocios en el sector de la gastronomía. Fundaron su primer restaurante en el corazón de Cádiz, conocido por su ambiente cálido y su enfoque en la cocina tradicional española. A lo largo de los años, los Ordóñez han crecido en el negocio, llevando la cultura culinaria andaluza a nuevas alturas. Su filosofía siempre ha sido ofrecer productos frescos y de calidad, respetando las tradiciones pero innovando constantemente para sorprender a sus clientes. Hoy, los Ordóñez continúan siendo un referente en el sector de la restauración, combinando pasión, excelencia y compromiso con la comunidad.</p>
                    <div class="img_datos">
                        <img src="/img/escudoCadiz.png" alt="pasta" width="70">
                        <img src="/img/españa.jpg" alt="pasta" width="120">
                    </div>
                </div>
            </div>
               
            <div class="info_familia">
                <div class="datos">
                    <h3>Bascoli</h3>
                    <p>Originarios de Nápoles, han sido una familia dedicada a la cocina napolitana desde hace generaciones. Su historia comienza con el abuelo Giovanni, quien abrió una pizzería en Nápoles que rápidamente se hizo famosa por sus pizzas artesanales y su autenticidad. A lo largo de los años, la familia Bascoli ha mantenido viva la tradición napolitana, perfeccionando recetas de pizzas y pastas que siguen el arte culinario ancestral de la región. Con una fuerte conexión con la tierra y los ingredientes locales, los Bascoli se enorgullecen de servir platos que cuentan la historia de Nápoles en cada bocado. Hoy, la familia continúa su legado, llevando la auténtica experiencia napolitana a todos los rincones del mundo.</p>
                    <div class="img_datos">
                        <img src="/img/escudoNapoles.png" alt="pasta" width="100">
                        <img src="/img/italia.jpg" alt="pasta" width="120">
                    </div>
                </div>
                <div class="imagen">
                    <img src="/img/napoles.jpg" alt="pasta" width="500">
                </div>
            </div>
        </div>
    </div>

    <div class="imagenes2">
        <img src="/img/pizza.png" alt="pasta" width="100">
        <div class="volver">
            <h3>Volver:</h3>
            <button (click)="goToInicio()" class="btn_inicio"><strong>Inicio</strong></button>
        </div>
        <img src="/img/pizza.png" alt="pasta" width="100">
     </div>
</div>
